html, body {
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  margin: 0;

  background: linear-gradient(45deg,
  rgba(5, 5, 5, 1) 14%,
  rgba(32, 32, 32, 1) 48%,
  rgba(5, 5, 5, 1) 100%);

  color: rgb(163, 162, 162);
  font-family: 'Roboto', sans-serif;

}

.title-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  margin: 20px;
}

h1 {
  font-size: 8rem;
  margin: 0;
  line-height: 0.8;
  color: white;
  font-family: 'Archivo Black', sans-serif;
}

h3 {
  font-weight: 350;
  font-family: sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  margin: 0;
  color: white;
}

p {
  font-weight: 200;
  line-height: 1.5;
  margin: 0;
}


.today-card{
  padding: 20px;
  width: 80%;
  border-radius: 30px;
  background: rgb(209, 209, 209, 0.15);
  backdrop-filter: blur(10px);
  filter: drop-shadow(0 0 0.75rem black);
}

.today-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.today-card__title {
  margin: 15px;
  opacity: 1;
  border-bottom: solid 1px rgb(143, 142, 142);
}

.today-card__cat, .today-card__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  margin: 10px 0;
}

.today-card__cat>p{
  font-weight: bold;
  align-self: center;
  color: white;
}

.workout-selector {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.btn {
  width: 20%;
  padding: 15px;

  background: dodgerblue;
  border: none;
  border-radius: 5px;
  color: white;
}

.add-wrapper {
  display: flex;
  justify-content: flex-end;
}

.add-wrapper>button {
  border: solid 2px  #005A9C;
  background: none;
  color: #005A9C;
  width: auto;
  border-radius: 15px;
  padding: 10px;
}

.add-wrapper>button:hover {
  background: #005A9C;
  color: white;
}