body {
  overflow: hidden;
  color: #fff;
  background: radial-gradient(circle at 1%, #346b5d, #99f2c8);
}

p {
  font-family: sans-serif;
}

.workout-body{
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: inherit;
  overflow: hidden;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: inherit;
  height: 50px;
  border: #fff solid 1px;
  align-items: center;
}

.menu-bar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bar-item {
  margin: 0 10px;
  cursor: pointer;
  background-color: #000000;
  line-height: 0;
  padding: 0 30px;
  border-radius: 30px;
  filter: drop-shadow(5px 5px 20px black);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #28ff9b ;
  font-family: "Paytone One", sans-serif;
  font-weight: 900;
  font-size: 2em;
  width: 60px;
  height: 40px;
}

.menu-bar-logo {
  line-height: 0;
  margin: 0;
}


