body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  background: radial-gradient(circle at 1%, #000000, #2d3436);
  height: 100vh;  
}

p {
  font-family: sans-serif;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  width: 50%;
  overflow: hidden;
  background: #36e988;
  border-radius: 100px;
  box-shadow: #000000 0px 0px 40px 0px;
}

.welcome-text {
  width: 80%;
  text-align: center;
}

.welcome-title {
  font-family: "Paytone One", sans-serif;
  font-size: 5em;
  line-height: 0;
}

.welcome-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  background: none;
  border: 2px solid #000000;
}

.welcome-button:hover {
  background: #000000;
  color: #36e988;
}
